// ---------------------
// Variables
// ---------------------

$debug: false;

// --- colors ---
$clr10: #ffffff;
$clr11: #ECF2FF;
$clr12: #303B59;
$clr13: #CAC9FF;
// $clr14: #131518;
// $clr15: #7C8798;

$reaction: #FF5555;
$reactionBck: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)),
    #FF5555;

$memory: #FFB21E;
$memoryBck: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)),
    #FFB21E;

$verbal: #00BB8F;
$verbalBck: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)),
    #00BB8F;

$visual: #1125D6;
$visualBck: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)),
    #1125D6;

$backroundGradient1: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);

$backroundGradient2: linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0) 100%, rgba(37, 33, 201, 0) 100%);

$bttnGradient: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);
// --- break points ---


// --- font-sizes ---

$h1Max: 4.5rem; //72px
$h1Min: 3.5rem; //56px

$h2Max: 2rem; //32px
$h2Min: 1.5rem; //24px

$h3Max: 24px; //24px
$h3Min: 1.125rem; //18px

$bttnMax: 1.125rem; //18px
$bttnMin: 1.125rem; //18px

$sumMax: 1.125rem; //18px
$sumMin: 1rem; //16px

$parMax: 1.125rem; //18px
$parMin: 1rem; //16px